body {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #eed9c4;
    color: black;
}

table {
    width: 100%;
    height: 100%;
    
}

td {
    padding: 10px;
}

#links {
    width: 20%;
}

#header {
    height: 100px;
    background-color: #d9b99b;
}

h1 {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#image {
    width: 30%;
}

#content,li {
    color: #5A5A5A;
}

img {
    width: 430px;
    height: 400px;
}

.list-title {
    font-weight: bold;
}
